html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.ag-theme-material {
    flex-grow: 1;
    overflow-y: auto;
}
